<div class="tutorials">

<% @tutorials.each do |tutorial| %>
  <div class="entry">
    <%= link_to image_tag(tutorial.image_url), tutorial_path(tutorial) %>
    <h3><%= link_to tutorial.title, tutorial_path(tutorial) %></h3>
    <p><%= sanitize(tutorial.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(tutorial.price, raise: true) %></span>
      <% unless tutorial.users.include? (current_user) %>
        <%= button_to "Buy", buy_user_tutorials_path(tutorial_id: tutorial), method: :get%>
      <% end %>
    </div>
  </div>
<% end %>

<% if admin_signed_in?  %>
  <%= link_to 'New Tutorial', new_tutorial_path %>
<% end %>

</div>