<div class="store">

<% @tutorials.each do |tutorial| %>
  <div class="entry">
    <%= image_tag(tutorial.image_url) %>
    <h3><%= link_to tutorial.title, tutorial_path(tutorial) %></h3>
    <p><%= sanitize(tutorial.description) %></p>
    <div class="price_line">
      <span class="price"><%= number_to_currency(tutorial.price, raise: true) %></span>
      <!-- <%= button_to t('.add_html'), line_items_path(tutorial_id: tutorial), remote: true %> -->
    </div>
  </div>
<% end %>



<%= link_to 'New Tutorial', new_tutorial_path %>
</div>