<h1><%= @tutorial.title %></h1>
<%= @tutorial.video_embed.html_safe %>

<p>
  <strong>Description:</strong>
  <%= @tutorial.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @tutorial.price %>
</p>

<%= link_to "Descargar", @tutorial.file.url %>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
