<h1><%= @tutorial.title %></h1>
<%= @tutorial.video_embed.html_safe %>

<p>
  <strong>Description:</strong>
  <%= @tutorial.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@tutorial.price) %>
</p>
<% if user_signed_in? && current_user.tutorials.include?(@tutorial) %>
  <%= link_to "Descargar", @tutorial.file.url %>
<% end -%>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
