<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, t('.name') %><br>
    <%= f.text_field :name, size: 40, placeholder: 'Your name' %>
  </div>
  <%= f.hidden_field :tutorial_id, value: @tutorial.id %>
  <div class="field">
    <%= f.label :pay_type, t('.pay_type') %><br>
    <%= f.select :pay_type, Order::PAYMENT_TYPES %>
  </div>
  <div class="field">
    <%= f.label :address, t('.address') %><br>
    <%= f.text_area :address, rows: 3, cols: 40, placeholder: 'Calle Falsa 123' %>
  </div>
  <div class="field">
    <%= f.label :email, t('.email') %><br>
    <%= f.text_field :email, size:40, placeholder:'nombre@ejemplo.com' %>
  </div>
  <div class="field">
  <div class="actions">
    <%= f.submit "BUY NOW!" %>
  </div>
<% end %>
